.offer_1{
    background: url("../img/offer-1-bg.png") center no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 100px;


}

.offer_content{

    width: 540px;
    background-color: rgba(34, 34, 34, 0.9);


}
.offer__header{
    padding-top: 50px;
    padding-left: 50px;
    color: #e8e8e8;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.offer__sup-header{
    padding-top: 30px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;


    color: #ffffff;
}
.offer__text{
    padding-top: 40px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;

}
 .main__btn--padding{
     margin-left: 50px;
     margin-bottom: 50px;
 }

 @media screen and (max-width:602px){
    .offer_content{
        width: 95%;
    }
    .offer__header,
    .offer__sup-header,
    .offer__text{
        padding-left: 10px;
    }
    .container{
        padding: 0;
    }
 }


.offer_2{
    background: url("../img/offer-2-bg.png") center no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 100px;


}

.t{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
}
